<strong>
  More at
  <a href="http://about.gitlab.com/" title="GitLab" class="home">about.gitlab.com:</a>
</strong>

<a href="http://about.gitlab.com/" title="GitLab - Blog">Blog</a> |
<a href="https://gitlab.com/gitlab-org/gitlab-ce" title="GitLab - Contribute on GitLab">Contribute on GitLab</a> |
